<mat-card class="card">
  <div class="favorite">
    <input class="favorite__input" type="checkbox" [name]="item?.name" [id]="item?.id" />
    <label class="favorite__label" [for]="item?.id"></label>
  </div>
  <!-- <mat-icon class="card__favorite">favorite</mat-icon> -->

  <img class="card__image" mat-card-image [src]="item?.image" alt="Imagem do personagem" />
  <mat-card-content class="pt-2">
    <span class="card__title">{{ item?.name }}</span>
    <p class="card__description">
      {{ item?.species }}
    </p>
  </mat-card-content>
</mat-card>
