@use './theme/theme.scss' as theme;
@import './scss/main.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

@include theme.create-light-theme();

.dark-theme {
  @include theme.create-dark-theme();

  .mat-app-background {
    background-color: #1f1f1f;
  }

  .mat-toolbar {
    background-color: #0a0a0a;
  }
}
