@use './theme/theme.scss' as theme;

@import './scss/main.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

@include theme.create-light-theme();

.link-active {
  color: $color-neutral-surface !important;
  background-color: $color-core-foreground !important;
}

.dark-theme {
  @include theme.create-dark-theme();

  .mat-app-background {
    background-color: $color-core-background;
  }

  .mat-toolbar {
    background-color: $color-core-foreground;
  }

  .link-active {
    color: $color-core-foreground !important;
    background-color: $color-neutral-surface !important;
  }
}
