$color-core-background: #1f1f1f;
$color-core-foreground: #0a0a0a;
$color-core-border: #3d3d3d;
$color-core-content-low: #a4a4a4;

$color-neutral-surface: #ffffff;

$color-neutral-content: #a4a4a4;
$color-neutral-content-high: #cacaca;
$color-neutral-content-higher: #f2f2f2;
$color-neutral-content-onSource: #0a0a0a;

$color-main-heading: #00b5cc;
$color-main-heading-stroke: #b2df28;

$theme-colors: (
  'background': $color-core-background,
  'foreground': $color-core-foreground,
  'border': $color-core-border,
  'content-low': $color-core-content-low,
  'surface': $color-neutral-surface,
  'content': $color-neutral-content,
  'content-high': $color-neutral-content-high,
  'content-higher': $color-neutral-content-higher,
  'content-onSource': $color-neutral-content-onSource,
  'heading': $color-main-heading,
  'heading-stroke': $color-main-heading-stroke
);
